[Desktop Entry]
Version=1.0
Type=Application
Name=Badland
Comment=Badland Web App
Exec=/home/pi/WebApps/webapps/Scripts/badland.sh
Icon=/home/pi/WebApps/webapps/icons/badland.jpeg
Path=
Terminal=false
StartupNotify=false
