[Desktop Entry]
Version=1.0
Type=Application
Name=Bandlab
Comment=Bandlab Web App
Exec=/home/pi/webapps/bandlab.sh
Icon=/home/pi/webapps/icons/bandlab.png
Path=
Terminal=false
StartupNotify=false
