[Desktop Entry]
Version=1.0
Type=Application
Name=Bflix
Comment=Bflix.to Web App
Exec=/home/pi/WebApps/webapps/Scripts/bflix.sh
Icon=/home/pi/WebApps/webapps/icons/bflix.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
