[Desktop Entry]
Version=1.0
Type=Application
Name=Browser Quest
Comment=Browser Quest Web App
Exec=/home/pi/WebApps/webapps/Scripts/BrowserQuest.sh
Icon=/home/pi/WebApps/webapps/icons/BrowserQuest.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
