[Desktop Entry]
Version=1.0
Type=Application
Name=Browser Quest
Comment=Browser Quest Web App
Exec=/home/pi/webapps/BrowserQuest.sh
Icon=/home/pi/webapps/icons/BrowserQuest.png
Path=/home/pi/webapps
Categories=Other;
Terminal=false
StartupNotify=false
