[Desktop Entry]
Version=1.0
Type=Application
Name=Candy Bubble
Comment=Candy Bubble Web App
Exec=/home/pi/WebApps/webapps/Scripts/CandyBubble.sh
Icon=/home/pi/WebApps/webapps/icons/CandyBubble.jpg
Path=
Terminal=false
StartupNotify=false
