[Desktop Entry]
Version=1.0
Type=Application
Name=Cowsay
Comment=
Exec=/home/pi/WebApps/webapps/TerminalDiversions/cowsay.sh
Icon=/home/pi/WebApps/webapps/TerminalDiversions/cowsay.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
