[Desktop Entry]
Version=1.0
Type=Application
Name=Cryptovoxels
Comment=Cryptovoxels Web App
Exec=/home/pi/WebApps/webapps/Scripts/cryptovoxels.sh
Icon=/home/pi/WebApps/webapps/icons/cryptovoxels.jpg
Path=
Terminal=false
StartupNotify=false
