[Desktop Entry]
Version=1.0
Type=Application
Name=Cut The Rope
Comment=Cut The Rope Web App
Exec=/home/pi/WebApps/webapps/Scripts/cuttherope.sh
Icon=/home/pi/WebApps/webapps/icons/cuttherope.png
Path=
Terminal=false
StartupNotify=false
