[Desktop Entry]
Version=1.0
Type=Application
Name=Discord
Comment=Discord Web App
Exec=/home/pi/webapps/discord.sh
Icon=/home/pi/webapps/icons/discord.svg
Path=
Terminal=false
StartupNotify=false
