[Desktop Entry]
Version=1.0
Type=Application
Name=Disc US
Comment=Disc US Web App
Exec=/home/pi/WebApps/webapps/Scripts/discus.sh
Icon=/home/pi/WebApps/webapps/icons/discus.png
Path=
Terminal=false
StartupNotify=false
