[Desktop Entry]
Version=1.0
Type=Application
Name=Empire
Comment=Empire Web App
Exec=/home/pi/webapps/empire.sh
Icon=/home/pi/webapps/icons/empire.png
Path=
Terminal=false
StartupNotify=false
