[Desktop Entry]
Version=1.0
Type=Application
Name=Five Nights at Freddy's
Comment=FNAF Web App
Exec=/home/pi/WebApps/webapps/Scripts/freddy.sh
Icon=/home/pi/WebApps/webapps/icons/freddy.jpeg
Path=
Terminal=false
StartupNotify=false
