[Desktop Entry]
Version=1.0
Type=Application
Name=Geforce Now
Comment=Geforce Now Web App
Exec=/home/pi/WebApps/webapps/Scripts/geforcenow.sh
Icon=/home/pi/WebApps/webapps/icons/geforcenow.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
