[Desktop Entry]
Version=1.0
Type=Application
Name=Gmail
Comment=Gmail Web App
Exec=/home/pi/WebApps/webapps/Scripts/gmail.sh
Icon=/home/pi/WebApps/webapps/icons/gmail.svg
Path=
Terminal=false
StartupNotify=false
