[Desktop Entry]
Version=1.0
Type=Application
Name=Graal 
Comment=Graal Web App
Exec=/home/pi/WebApps/webapps/Scripts/graal.sh
Icon=/home/pi/WebApps/webapps/icons/graal.png
Path=
Terminal=false
StartupNotify=false
