[Desktop Entry]
Version=1.0
Type=Application
Name=Hulu
Comment=Hulu Web App
Exec=/home/pi/webapps/hulu.sh
Icon=/home/pi/webapps/icons/hulu.jpg
Path=/home/pi/webapps
Categories=Other;
Terminal=false
StartupNotify=false
