[Desktop Entry]
Version=1.0
Type=Application
Name=Kiwi IRC
Comment=Kiwi IRC Web App
Exec=/home/pi/WebApps/webapps/Scripts/kiwiirc.sh
Icon=/home/pi/WebApps/webapps/icons/kiwiirc.png
Path=
Terminal=false
StartupNotify=false
