[Desktop Entry]
Version=1.0
Type=Application
Name=Krunker.io
Comment=Krunker.io Web App
Exec=/home/pi/WebApps/webapps/Scripts/krunkerio.sh
Icon=/home/pi/WebApps/webapps/icons/krunkerio.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
