[Desktop Entry]
Version=1.0
Type=Application
Name=Mars Tomorrow
Comment=Mars Tomorrow Web App
Exec=/home/pi/WebApps/webapps/Scripts/MarsTomorrow.sh
Icon=/home/pi/WebApps/webapps/icons/MarsTomorrow.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
