[Desktop Entry]
Version=1.0
Type=Application
Name=Messenger
Comment=Facebook Messenger Web App
Exec=/home/pi/WebApps/webapps/Scripts/messenger.sh
Icon=/home/pi/WebApps/webapps/icons/messenger.svg
Path=
Categories=Other;
Terminal=false
StartupNotify=false
