[Desktop Entry]
Version=1.0
Type=Application
Name=Messenger
Comment=Facebook Messenger Web App
Exec=/home/pi/webapps/messenger.sh
Icon=/home/pi/webapps/icons/messenger.svg
Path=/home/pi/webapps
Categories=Other;
Terminal=false
StartupNotify=false
