[Desktop Entry]
Version=1.0
Type=Application
Name=Mozilla Hubs
Comment=Mozilla Hubs Web App
Exec=/home/pi/WebApps/webapps/Scripts/hubs.sh
Icon=/home/pi/WebApps/webapps/icons/hubs.png
Path=
Terminal=false
StartupNotify=false
