[Desktop Entry]
Version=1.0
Type=Application
Name=Netflix
Comment=Netflix Web App
Exec=/home/pi/webapps/netflix.sh
Icon=/home/pi/webapps/icons/netflix.png
Path=/home/pi/webapps
Categories=Other;
Terminal=false
StartupNotify=false
