[Desktop Entry]
Version=1.0
Type=Application
Name=Nymble
Comment=Nymble Web App
Exec=/home/pi/WebApps/webapps/Scripts/nymble.sh
Icon=/home/pi/WebApps/webapps/icons/nymble.png
Path=
Terminal=false
StartupNotify=false
