[Desktop Entry]
Version=1.0
Type=Application
Name=Open Lara
Comment=Open Lara Web App
Exec=/home/pi/webapps/OpenLara.sh
Icon=/home/pi/webapps/icons/OpenLara.png
Path=/home/pi/webapps
Categories=Other;
Terminal=false
StartupNotify=false
