[Desktop Entry]
Version=1.0
Type=Application
Name=Outlook
Comment=Outlook Web App
Exec=/home/pi/WebApps/webapps/Scripts/outlook.sh
Icon=/home/pi/WebApps/webapps/icons/outlook.png
Path=
Terminal=false
StartupNotify=false
