[Desktop Entry]
Version=1.0
Type=Application
Name=PlutoTV
Comment=PlutoTV Web App
Exec=/home/pi/webapps/PlutoTV.sh
Icon=/home/pi/webapps//icons/PlutoTv.png
Path=/home/pi/webapps
Categories=Other;
Terminal=false
StartupNotify=false
