[Desktop Entry]
Version=1.0
Type=Application
Name=Reddit
Comment=Reddit Web App
Exec=/home/pi/webapps/reddit.sh
Icon=/home/pi/webapps/icons/reddit.png
Path=
Terminal=false
StartupNotify=false
