[Desktop Entry]
Version=1.0
Type=Application
Name=rick
Comment=Never Gonna Give You Up ...
Exec=/home/pi/WebApps/webapps/TerminalDiversions/rickroll.sh
Icon=/home/pi/WebApps/webapps/TerminalDiversions/rick.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
