[Desktop Entry]
Version=1.0
Type=Application
Name=Scratch
Comment=Scratch Web App
Exec=/home/pi/WebApps/webapps/Scripts/scratch.sh
Icon=/home/pi/WebApps/webapps/icons/scratch.png
Path=
Terminal=false
StartupNotify=false
