[Desktop Entry]
Version=1.0
Type=Application
Name=Skribbl.io
Comment=Skribbl.io Web App
Exec=/home/pi/WebApps/webapps/Scripts/Skribbl.sh
Icon=/home/pi/WebApps/webapps/icons/scirbbl.png
Path=
Terminal=false
StartupNotify=false
