[Desktop Entry]
Version=1.0
Type=Application
Name=Skype
Comment=Skype Web App
Exec=/home/pi/WebApps/webapps/Scripts/skype.sh
Icon=/home/pi/WebApps/webapps/icons/Skype.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
