[Desktop Entry]
Version=1.0
Type=Application
Name=Star Wars
Comment=Telnet Star Wars
Exec=/home/pi/webapps/TerminalDiversions/starwars.sh
Icon=/home/pi/webapps/TerminalDiversions/starwars.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
