[Desktop Entry]
Version=1.0
Type=Application
Name=Swoop
Comment=Swoop Web App
Exec=/home/pi/WebApps/webapps/Scripts/swoop.sh
Icon=/home/pi/WebApps/webapps/icons/swoop.jpg
Path=
Terminal=false
StartupNotify=false
