[Desktop Entry]
Version=1.0
Type=Application
Name=SWRadio
Comment=Online Shortwave Radio
Exec=/home/pi/webapps/SWRadio.sh
Icon=/home/pi/webapps/icons/SWRadio.png
Path=/home/pi/webapps
Categories=Other;
Terminal=false
StartupNotify=false
