[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram
Comment=Telegram Web App
Exec=/home/pi/WebApps/webapps/Scripts/telegram.sh
Icon=/home/pi/WebApps/webapps/icons/telegram.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
