[Desktop Entry]
Version=1.0
Type=Application
Name=TikTok
Comment=TikTok Web App
Exec=/home/pi/webapps/tiktok.sh
Icon=/home/pi/webapps/icons/tiktok.png
Path=
Terminal=false
StartupNotify=false
