[Desktop Entry]
Version=1.0
Type=Application
Name=Wolfram
Comment=Wolfram Web App
Exec=/home/pi/WebApps/webapps/Scripts/wolfram.sh
Icon=/home/pi/WebApps/webapps/icons/wolfram.png
Path=
Terminal=false
StartupNotify=false
