[Desktop Entry]
Version=1.0
Type=Application
Name=World of Solitaire
Comment=World of Solitaire Web App
Exec=/home/pi/WebApps/webapps/Scripts/solitaire.sh
Icon=/home/pi/WebApps/webapps/icons/solitaire.jpeg
Path=
Terminal=false
StartupNotify=false
