[Desktop Entry]
Version=1.0
Type=Application
Name=Xfinity Stream
Comment=XFinity Stream Web App
Exec=/home/pi/WebApps/webapps/Scripts/xfinity.sh
Icon=/home/pi/WebApps/webapps/icons/xfinity.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
