[Desktop Entry]
Version=1.0
Type=Application
Name=Zoom
Comment=Zoom Web App
Exec=/home/pi/WebApps/webapps/Scripts/zoom.sh
Icon=/home/pi/WebApps/webapps/icons/zoom.png
Path=
Categories=Other;
Terminal=false
StartupNotify=false
